# DB
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
# Django
SECRET_KEY=<django_secret_key>
DJANGO_SETTINGS_MODULE=kitchen_service.settings.dev
RENDER_EXTERNAL_HOSTNAME=<domain>
# Cloudinary
CLOUDINARY_CLOUD_NAME=<cloud_name>
CLOUDINARY_API_KEY=<api_key>
CLOUDINARY_API_SECRET=<api_secret>
