{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <img src="{{ dish.image.url }}" alt="{{ dish.name }}" width="160" height="160">
  <p>Dish Type: {{ dish.dish_type.name }}</p>
  <p>Description: {{ dish.description }}</p>
  <p>Price: ${{ dish.price }}</p>
  <h1>
    Cooks

    {% if is_assigned %}
      <form method="post" action="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger link-to-page">
          Remove me from this dish
        </button>
      </form>
    {% else %}
      <form method="post" action="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-success link-to-page">
          Assign me to this dish
        </button>
      </form>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>
        <a href="{{ cook.get_absolute_url }}">
          {{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
